<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Signin</display-name>
    <servlet-name>Signin</servlet-name>
    <servlet-class>Signin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signin</servlet-name>
    <url-pattern>/Signin</url-pattern>
  </servlet-mapping>
  <display-name>Facebook</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAcc</display-name>
    <servlet-name>DeleteAcc</servlet-name>
    <servlet-class>DeleteAcc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAcc</servlet-name>
    <url-pattern>/DeleteAcc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>test.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BioUpdate</display-name>
    <servlet-name>BioUpdate</servlet-name>
    <servlet-class>BioUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BioUpdate</servlet-name>
    <url-pattern>/BioUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Trigger</display-name>
    <servlet-name>Trigger</servlet-name>
    <servlet-class>Trigger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Trigger</servlet-name>
    <url-pattern>/Trigger</url-pattern>
  </servlet-mapping>
</web-app>